<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProjectDB_XGEN.mdf;Initial Catalog=ProjectDB_XGEN; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>